<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <link href="https://cdn.learnku.com//build/css/df80a43d32032bc8fda1-vendors.css" rel="stylesheet">
        <link href="https://cdn.learnku.com//build/css/c401bd6135ed8e60ccfb-app.css" rel="stylesheet">
  <style type="text/css">
    .userModel {
      display:block;
      text-align:left;
      background:#fff;
      border:none;
      box-shadow: 1px 3px 3px 0 rgba(0,0,0,.2),1px 3px 15px 2px rgba(0,0,0,.2);
      transform-origin:50% 25%;
      border-radius:.28571429rem;
      margin:30px auto;
      padding:20px;
    }
  </style>
</head>
<body>
 <a href="sms:15626277978">发短信</a>
  <div class="userModel login small" style="width:350px";>
          <div class="header">
            <h4 class="modal-title ">
                <img class="ui image display-inline-block mr-2" style="width:32px;height:32px;" src="https://cdn.learnku.com/uploads/images/201901/24/1/OyBnfB2vlk.png"> <span style="position: relative;top: 4px;">请登录</span>
            </h4>
          </div>
  <div class="content">



<form class="ui form login" role="form" method="POST" action="https://learnku.com/auth/login" accept-charset="UTF-8">
   
  <div class="field">
    <div class="ui left icon input">
        <i class="user icon"></i>
        <input type="text" name="username" placeholder="邮 箱 or 手 机 or 用户名" value="" required>
      </div>
  </div>
  <div class="field">
    <div class="ui left icon input">
        <i class="lock icon"></i>
        <input type="password" name="password" placeholder="密 码" value="" required>
      </div>
  </div>
  <button class="ui primary right labeled icon button" type="submit">
    <i class="right arrow icon"></i>
    提交
  </button>

    <div class="pull-right mt-2 rm-link-color">
        <a class="btn btn-link " href="https://learnku.com/auth/forget" target="_blank">
            忘记密码?
        </a>
        <span class="text-mute">or</span>
        <a class="btn btn-link " href="https://learnku.com/auth/register" target="_blank">
            注册
        </a>
    </div>

    <div class="clearfix"></div>


  <div class="ui horizontal divider fs-tiny text-mute">
    第三方账号登录
  </div>



      <a class="ui button fluid mt-2 green wechat-login-link" href="https://learnku.com/auth/oauth?driver=wechat"><i class="icon wechat " ></i> 微信登录</a>

      <a class="ui button fluid mt-2 basic" id="login-required-submit" href="https://learnku.com/auth/oauth?driver=github"><i class="icon github alternate"></i> GitHub 登录</a>

</form>
          </div>
        </div>
</body>
</html>