<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" type="text/css" href="__CSS__/test.css">
</head>
<body>
	<div class="center"><h2 >我的名字是 {$unick} </h2></div>
	
	<div class="center"><h2 >Welcome to ThinkPHP World!</h2></div>
	<div id="outBox">
		<div><div class="title">RTX 2080Ti</div><img src="__IMG__/2080.jpg"></div>
		<div><div class="title">RTX 3080</div><img src="__IMG__/3080.jpg"></div>
		<div><div class="title">RTX TITAN</div><img src="__IMG__/titan.jpg"></div>
	</div>
	<div class="center" style="width:300px;text-align: left;margin-top:50px">
		<h4>CSS:__CSS__</h4>
		<h4>JS:__JS__</h4>
		<h4>IMG:__IMG__</h4>
		<h4>ROOT:__ROOT__</h4>
		<h4>STATIC:__STATIC__</h4>
		<h4>URL:__URL__</h4>
		<h4>INDEX:__INDEX__</h4>

	</div>
</body>
</html>