<!DOCTYPE html>
<html lang="zh" class="">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
    <title>LearnKu 终身编程者的知识社区</title>
    <link rel="shortcut icon" href="__IMG__/icon.png" />
    <!-- Styles -->
    <link href="__CSS__/vendors.css" rel="stylesheet" />
    <link href="__CSS__/editormd.css" rel="stylesheet" />
    <link href="__CSS__/myself.css" rel="stylesheet" />
    <style type="text/css">
      @font-face {
        font-family: 'FontAwesome';
        src: url('__FONT__/FontAwesome.eot'); /* IE9*/
        src: url('__FONT__/FontAwesome.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('__FONT__/FontAwesome.woff2') format('woff2'), /* chrome、firefox、opera、Safari, Android, iOS */ url('__FONT__/FontAwesome.woff') format('woff'), /* chrome、firefox */ url('__FONT__/FontAwesome.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/ url('__FONT__/FontAwesome.svg#uxFontAwesome') format('svg'); /* iOS 4.1- */
      }
      @media only screen and (max-width: 450px) {
        #navbox {
          display: none !important;
        }
      }
      @media only screen and (max-width: 767px) {
        .ui.fluid.category.search {
          display: none !important;
        }
      }
      @media only screen and (max-width: 967px) {
        #li1,
        #li2,
        #li3,
        #li4 {
          display: none !important;
        }
      }
      a {
        color: #636b6f;
      }
      .userModel {
        display: block;
        text-align: left;
        background: #fff;
        border: none;
        box-shadow: 1px 3px 3px 0 rgba(0, 0, 0, 0.2), 1px 3px 15px 2px rgba(0, 0, 0, 0.2);
        transform-origin: 50% 25%;
        border-radius: 0.28571429rem;
        margin: 30px auto;
        padding: 20px;
      }
      #navbox {
        display: flex;
        flex-direction: row;
        margin-left: auto;
      }
      .selected {
        cursor: pointer;
        background: rgba(0, 0, 0, 0.03) !important;
        color: rgba(0, 0, 0, 0.95) !important;
      }
      .ui.top.menu {
        border-top: 4px solid #f4645f;
      }
      .text > .item:before {
        width: 0 !important;
      }
      /* 主要按钮 */

      .ui.primary.buttons .button,
      .ui.primary.button {
        background-color: #f4645f;
        border-color: #f4645f;
      }
      /* 主要按钮选中状态 */
      .ui.primary.buttons .button:hover,
      .ui.primary.button:hover,
      .ui.primary.button:active,
      .ui.primary.buttons .button:active,
      .ui.primary.button:focus,
      .ui.primary.buttons .button:focus,
      .ui.primary.active.button,
      .ui.primary.button .active.button:active,
      .ui.primary.buttons .active.button,
      .ui.primary.buttons .active.button:active {
        background-color: #f4645f;
        border-color: #f4645f;
      }

      /* 外框按钮 */
      .ui.basic.primary.buttons .button,
      .ui.basic.primary.button {
        color: #f4645f !important;
        box-shadow: 0px 0px 0px 1px #f4645f inset !important;
      }

      /* 外框按钮选中状态 */
      .ui.basic.primary.buttons .button:hover,
      .ui.basic.primary.button:hover {
        color: #f4645f !important;
        box-shadow: 0px 0px 0px 1px #f4645f inset !important;
      }
      .ui.basic.primary.buttons .active.button,
      .ui.basic.primary.active.button {
        color: #f4645f !important;
        box-shadow: 0px 0px 0px 1px #f4645f inset !important;
      }

      .ui.basic.primary.buttons .button:active,
      .ui.basic.primary.button:active,
      .ui.basic.primary.buttons .active.button,
      .ui.basic.primary.active.button,
      .ui.basic.buttons .button:hover,
      .ui.basic.button:hover,
      .ui.basic.primary.buttons .button:focus,
      .ui.basic.primary.button:focus {
        box-shadow: 0px 0px 0px 1px #f4645f inset !important;
      }

      .pagination > .active > a,
      .pagination > .active > a:focus,
      .pagination > .active > a:hover,
      .pagination > .active > span,
      .pagination > .active > span:focus,
      .pagination > .active > span:hover {
        background-color: #f4645f;
        border-color: #f4645f;
      }
      .pagination > li > a,
      .pagination > li > span {
        color: #f4645f;
      }
    </style>
  </head>
  <body class="auth-register-form-page" style="color: #636b6f; background-color: rgba(240, 242, 245)">
    <div class="pusher" style="margin-bottom: 30px">
      <div class="main container">
        <nav class="ui main borderless menu top" id="topnav">
          <div class="ui container" style="height: 40px">
            <div class="item">
              <img class="ui image" style="width: 26px; height: 26px; margin-top: -2px" src="__IMG__/laravel.png" />
              <span class="site-name ml-2">Laravel</span>
            </div>

            <form class="ui fluid category search item secondary hide-on-991" action="https://learnku.com/search" method="GET">
              <div class="ui icon input">
                <input class="prompt" name="q" type="text" placeholder="搜索" value="" />
                <i class="search icon"></i>
              </div>
              <div class="results"></div>
            </form>
            <!-- 1803010136 顶部导航栏 -->
            <ul id="navbox">
              <li><a href="{:url('index/index')}" class="item secondary">首页</a></li>
              <li id="forumPage">
                <a href="{:url('index/view')}" class="item secondary">论坛</a>
                <ul class="setList">
                  {volist name="section" id="sectionItem"}
                  <li><a href="{:url('index/view')}">{$sectionItem.s_name}</a></li>
                  {/volist}
                </ul>
              </li>
              <li><a href="{:url('index/changepa')}" class="item secondary selected">社区</a></li>
              <li><a href="{:url('index/me')}" class="item secondary">Wiki</a></li>
              <li><a href="{:url('index/me')}" class="item secondary">上传头像</a></li>
              <li id="li4"><a href="{:url('user/login')}" class="item secondary">登录</a></li>
              <li id="li3"><a href="{:url('user/reg')}" class="item secondary">注册</a></li>
              <li id="li2"><a href="{:url('index/logout')}" class="item secondary">注销</a></li>
              <li id="li1" class="item secondary">
                {if session('name') } 欢迎用户:
                <?=session('name');?>
                <img id="u_img" src="__UPLOAD__/<?=session('uImg')?>" />
                {else /}请登录 {/if}
              </li>
            </ul>
          </div>
        </nav>
      </div>
    </div>
    <!-- start -->
    <div class="ui centered grid container stackable">
      <div class="twelve wide column main-column">
        <div class="ui segment article-content">
          <div class="extra-padding" style="padding: 30px">
            <div class="titleBox">
              <h1 style="margin-bottom: 15px">
                <div class="pull-left">
                  <span style="line-height: 34px">{$mes.m_title}</span>
                </div>

                <div class="clearfix"></div>
              </h1>
              <p class="book-article-meta" style="margin-bottom: 10px">
                <a href="https://learnku.com/laravel/c/qa" class="hide-on-mobile remove-padding-left"><i class="icon folder text-md" aria-hidden="true"></i> 问答</a>
                <span class="divider hide-on-mobile">/</span>

                <span class="text-mute"><i class="icon eye open"></i> 56</span>
                <span class="divider">/</span>
                <span class="text-mute"><i class="icon comments outline"></i> 2</span>
                <span class="divider">/</span>
                <a class="" data-inverted="" data-tooltip="{$mes.m_createat|date='Y-m-d H:i:s'}"> 发布于 <span title="{$mes.m_createat|date='Y-m-d H:i:s'}">{$mes.m_createat|dateInit}</span> </a>
              </p>
            </div>

            <div class="ui divider"></div>

            <div style="min-height: 400px; white-space: pre" class="ui readme markdown-body content-body fluidbox-content">{$mes.m_content}</div>

            <div class="ribbon-container" style="margin-bottom: 20px"></div>

            <div class="ui horizontal list topic-operations" style="margin-bottom: 0px; margin-top: 10px">
              <a class="popover item ui attend-topic" data-content="关注话题，当评论和附言创建时将会被通知" href="javascript:void(0);" data-url="https://learnku.com/attentions/51250" data-id="51250">
                <div class="top aligned content"><i class="icon eye"></i> <span class="state">关注</span></div>
              </a>

              <a class="popover item ui" title="当你发现文章里有错误时，请点此给作者提交纠错建议" href="https://learnku.com/topics/51250/patches/create">
                <div class="top aligned content"><i class="icon send"></i> 改进</div>
              </a>

              <a class="item ui popover report-modal" data-toggle="modal" data-target="#reportModal" data-contentid="51250" href="javascript:void(0)" data-contenttype="App\Models\Topic" data-typename="话题" data-content="举报违规内容，共建品质社区">
                <div class="top aligned content"><i class="icon flag outline"></i> 举报</div>
              </a>
            </div>
          </div>
        </div>

        <div class="ui message basic pt-2">
          <div class="ui comments pt-2" style="max-width: inherit">
            <div class="comment">
              <a class="avatar" href="https://learnku.com/users/26959">
                <img class="" src="__UPLOAD__/{$mes.u_img}" />
              </a>
              <div class="content pt-2" style="margin-left: 66px">
                <div class="meta" style="max-width: 100%; display: inline-flex">
                  <a class="author" href="https://learnku.com/users/26959"> {$mes.u_nick} </a>

                  <div class="metadata lh-2">
                    <a target="_blank" class="ui label label-success hide-on-mobile role tiny basic fw-normal green" style="font-size: 11px; padding: 3px 5px" href="https://learnku.com/roles/CourseAttendees"> 课程读者 </a>

                    <a class="ml-1 rm-link-color mr-1 hide-on-mobile" target="_blank" href="https://learnku.com/users/26959/reputation_logs"> <i class="icon trophy"></i>56 声望 </a>
                  </div>
                </div>
                <div class="text mt-2 rm-link-color">
                  暂无个人描述~

                  <button class="ui basic button small login_required follow pull-right hide-on-mobile primary ui popover" data-content="关注后，会在首页显示此用户的动态包括发文章、评论等" data-act="follow" data-id="26959" style="position: relative; top: -19px"><i class="icon plus"></i> <span class="state">关注</span></button>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="ui message basic text-center voted-box pt-2">
          <div class="pt-0">
            <div class="ui small horizontal list topic-voted-users" style="font-size: 16px; padding-top: 8px; display: flex">
              <div class="item" style="font-size: 15px; margin-right: 12px; font-size: 15px; margin-right: 12px; display: inline-flex; flex-shrink: 0; line-height: 26px">
                <a class="item ui topic-vote ui action rm-link-color text-mute rm-tdu" id="topic-vote-51250" data-id="51250" href="#" title="Vote Up"> <i class="icon thumbs up outline fs-huge"></i> <span class="count vote-count">0</span> 人点赞 </a>
              </div>
              <div class="users" style="display: inline-flex; -webkit-box-flex: 1; -webkit-box-flex: 1; -ms-flex-positive: 1; flex-grow: 1; -ms-flex-wrap: wrap; flex-wrap: wrap; overflow: hidden; height: 42px"></div>
            </div>
          </div>
        </div>

        <div id="replies" name="replies"></div>

        <div class="ui threaded comments comment-list">
          <div class="ui divider horizontal grey"><i class="icon comments"></i> 讨论数量: <span class="reply-count">{$res|count}</span></span></div>

          <div class="ui secondary menu" style="margin-bottom: 30px">
            <div class="ui item" style="font-size: 14px; padding: 0px 4px">排序：</div>
            <a class="ui item active popover" data-content="按照时间排序" href="https://learnku.com/laravel/t/51250?order_by=created_at&amp;#replies" role="button">时间</a>
            <a class="ui item popover" data-content="按照投票排序" href="https://learnku.com/laravel/t/51250?order_by=vote_count&amp;#replies" role="button">投票</a>
          </div>

          <div class="comments-feed">
            {volist name="res" id="resItem"}
            <div class="comment">
              <div id="reply163235" name="reply163235"></div>
              <div class="avatar">
                <a href="https://learnku.com/users/9865">
                  <img src="__UPLOAD__/{$resItem.u_img}" />
                </a>
              </div>

              <div class="content">
                <div class="comment-header">
                  <div class="meta" style="max-width: 100%; display: inline-flex">
                    <a class="author" href="https://learnku.com/users/9865">{$resItem.u_nick}</a>
                    <div class="metadata lh-2">
                      <a class="ui label label-success hide-on-mobile role tiny basic fw-normal green" style="font-size: 11px; padding: 3px 5px" href="https://learnku.com/roles/CourseAttendees"> 课程读者 </a>
                      <a class="ml-1 rm-link-color mr-1 hide-on-mobile" href="https://learnku.com/users/9865/reputation_logs"> <i class="icon trophy"></i>88 声望 </a>
                    </div>
                  </div>
                </div>

                <div class="text comment-body markdown-reply fluidbox-content">
                  <div class="px-3">
                    <p>{$resItem.r_content}</p>
                  </div>
                </div>

                <div class="comment-meta-mute" title="2020-10-16 13:49:00" style="padding: 15px 25px; background: #fff; font-size: 12px; padding-top: 0px; color: rgba(0, 0, 0, 0.4)">
                  <i class="icon clock"></i> {$resItem.r_createat|dateInit}

                  <a href="javascript:;" class="rm-link-color text-mute ml-2 show-reply-comments" data-comments-class="comments-163235"> <i class="icon talk outline"></i>评论 </a>
                </div>

                <div class="comments comments-163235" style="display: none">
                  <div class="reply ui message hide reply-163235"></div>

                  <form class="ui reply form mb-4 reply-comments" data-topic-id="50726" data-reply-id="163235" action="https://learnku.com/replies">
                    <div class="field 1">
                      <div class="ui action input">
                        <input required="" type="text" name="comment-body-input" class="reply-comments-composing-box reply-comment-box-163235" placeholder="支持 Emoji, 仅解析 Markdown 语法：a,code,strong,i,em" />
                        <button class="ui primary button comment-btn no-loading" type="submit">评论</button>
                      </div>
                    </div>
                  </form>

                  <div class="inner-comment-lists inner-comment-lists-163235"></div>
                </div>

                <div class="footer">
                  <div class="ui menu reactions">
                    <a class="item reply-upvote ui popover" href="javascript:;" title="为此评论点赞" data-id="163235" style="color: rgba(0, 0, 0, 0.4); font-size: 0.9em"> <i class="reaction-emoji login_required icon thumbs up outline"></i> <span class="vote-count"></span> </a>

                    <a class="item ui popover login_required" data-content="举报违规内容，共建品质社区" href="javascript:void(0)" data-variation="inverted" style="color: rgba(0, 0, 0, 0.4); font-size: 0.9em" data-contentid="163235" data-contenttype="App\Models\Reply" data-typename="评论"> <i class="icon flag outline"></i> 举报 </a>

                    <a class="item ui popover" title="此评论的链接" href="https://learnku.com/laravel/t/50726#reply163235" style="color: rgba(0, 0, 0, 0.4); font-size: 0.9em" data-contentid="163235" data-contenttype="App\Models\Reply">
                      <i class="icon hashtag"></i>
                    </a>
                  </div>
                </div>
              </div>
            </div>
            {/volist}
          </div>

          <br />
          {if session('name') }
          <div class="ui segment extra-padding comment-composing-box pt-3" style="padding: 20px; margin-left: 50px; min-height: 300px">
            <form class="ui reply form topic-reply-form" method="POST" action="{:url('index/doRes',['m_id'=>$mes.m_id])}" accept-charset="UTF-8" id="comment-composing-form">
              <div class="comm_avatar">
                <a href="https://learnku.com/users/9865">
                  <img src="__UPLOAD__/<?=session('uImg')?>" />
                </a>
              </div>
              <div class="ui message info"><i class="icon info" aria-hidden="true"></i>讨论应以学习和精进为目的。请勿发布不友善或者负能量的内容，与人为善，比聪明更重要！</div>
              <div class="field">
                <textarea name="r_content" id="comment-composing-box" data-emojiable="converted" data-storage-key="topic-51250" required="" class="" style="overflow: hidden; overflow-wrap: break-word; resize: none; height: 112px" data-id="e832c62d-9d80-4275-9f13-149832701db9" data-type="original-input"></textarea>
                <div class="emoji-menu" data-id="e832c62d-9d80-4275-9f13-149832701db9" data-type="menu" style="display: none">
                  <div class="emoji-items-wrap1">
                    <table class="emoji-menu-tabs">
                      <tbody>
                        <tr>
                          <td><a class="emoji-menu-tab icon-recent-selected"></a></td>
                          <td><a class="emoji-menu-tab icon-smile"></a></td>
                          <td><a class="emoji-menu-tab icon-flower"></a></td>
                          <td><a class="emoji-menu-tab icon-bell"></a></td>
                          <td><a class="emoji-menu-tab icon-car"></a></td>
                          <td><a class="emoji-menu-tab icon-grid"></a></td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>

              <div class="field rm-link-color">
                <div class="pull-left meta">
                  <a href="javascript:;" class="mr-2 emoji-picker text-mute fs-big rm-tdu" data-type="picker"> <i class="icon smile"></i> </a>
                  <a href="javascript:;" class="mr-2 ui popover text-mute" data-html="黏贴或拖拽图片至输入&lt;br&gt;框内皆可上传图片">
                    <i class="icon picture"></i>
                  </a>
                  <a href="javascript:;" class="mr-2 ui popover text-mute hide-on-mobile" data-html="支持除了 H1~H6 以外的&lt;br&gt;GitHub 兼容 Markdown"> 支持 MD </a>

                  <a href="javascript:;" class="compose-help text-mute rm-tdu" style="color: #777; margin-top: 8px"> 帮助 </a>
                </div>

                <div class="pull-right">
                  <div class="ui checkbox inline mr-2 popover attend-topic-checkbox" title="文章有新评论时会收到提醒">
                    <input type="checkbox" tabindex="0" class="hidden" name="" id="attend-topic-checkbox" checked="checked" />
                    <label>关注本文</label>
                  </div>
                  <button class="ui primary labeled icon button no-loading" type="submit" id="comment-composing-submit"><i class="icon comment"></i> 评论</button>
                </div>

                <div class="clearfix"></div>
              </div>
            </form>

            <div class="clearfix"></div>
            <div class="box preview markdown-reply fluidbox-content" id="preview-box" style="display: none; border: dashed 1px #ccc; background: #ffffff; border-radius: 6px; box-shadow: none; margin-top: 20px; margin-bottom: 6px"></div>
          </div>
          {/if}
        </div>
      </div>

      <div class="four wide column">
        <div class="item header sidebar">
          <div class="ui card column author-box grid authors-box responsive">
            <a href="https://learnku.com/users/26959" class="avatar-link">
              <img class="ui centered circular tiny image" src="__UPLOAD__/{$mes.u_img}" />
            </a>

            <div class="extra content ui center aligned container">
              <a class="header" href="https://learnku.com/users/26959">{$mes.u_nick}</a>

              <a class="mt-3 mb-2 display-inline-block" href="https://learnku.com/users/26959/reputation_logs" target="_blank"> <i class="icon trophy"></i>56 声望 </a>
            </div>

            <div class="extra content">
              <button class="ui basic button follow fluid primary" data-act="follow" data-id="26959"><i class="icon plus"></i> <span class="state">关注</span></button>

              <a href="https://learnku.com/messages/to/26959" class="ui basic button fluid" style="margin-top: 6px"> <i class="icon envelope"></i> 私信 </a>
            </div>
          </div>
          <a href="https://learnku.com/blog/Charen" class="ui single button fluid" style="margin-top: 18px">
            <i class="icon newspaper"></i>
            TA 的博客
          </a>

          <div class="ui segment text-center">
            <div style="display: flex; justify-content: center">
              <a class="ui button primary small basic" href="https://learnku.com/topics/51250/patches/create" style="margin-bottom: -10px; margin-top: 12px; margin-bottom: 12px"><i class="icon send"></i> 纠错改进</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- end -->
    <div class="ui inverted vertical footer segment" style="margin-top: 30px">
      <div class="ui center aligned container">
        <div class="ui stackable inverted divided grid">
          <div class="four wide column">
            <h4 class="ui inverted header">
              <img src="__IMG__/icon2.png" alt="" style="width: 32px; border-radius: 6px; position: relative; top: -5px" />
              关于 LearnKu
            </h4>
            <div class="ui inverted text-center">
              <div class="lh-3">LearnKu 是终身编程者的修道场</div>
              <div class="lh-3">摒弃世俗浮躁，追求技术精湛</div>
            </div>

            <div class="ui inverted text-center mt-3 rm-link-color tdu"><i class="icon birthday"></i> <a href="https://learnku.com/articles/28735">LearnKu 诞生的故事</a></div>
          </div>
          <div class="four wide column">
            <h4 class="ui inverted header">资源推荐</h4>
            <div class="ui inverted link list">
              <li class="mb-1">
                <a class="item" href="https://learnku.com/docs/guide"> 《社区使用指南》 </a>
              </li>
              <li class="mb-1">
                <a class="item" href="https://learnku.com/docs/writing-docs"> 《文档撰写指南》 </a>
              </li>
              <li class="mb-1">
                <a class="item" href="https://learnku.com/docs/guide/protocol/4992"> 《LearnKu 社区规范》 </a>
              </li>
            </div>
          </div>
          <div class="four wide column">
            <h4 class="ui inverted header">赞助商</h4>
            <div class="ui inverted link list">
              <a href="https://passport.ucloud.cn/?invitation_code=rami45zj5kpm&amp;ytag=reZ5E7" rel="nofollow noopener noreferrer" class="item" target="_blank" style="line-height: 28px">
                <img src="__IMG__/sponsor1.png" title="本站服务器由 UCloud 赞助" class="ui popover" style="height: 20px; margin-bottom: -4px; margin-right: 3px; display: inline-block" />
              </a>
              <a href="https://www.upyun.com/" rel="nofollow noopener noreferrer" class="item" target="_blank" style="line-height: 28px">
                <img src="__IMG__/sponsor2.png" title="社区 CDN 赞助商" class="ui popover" style="height: 20px; margin-bottom: -4px; margin-right: 3px; display: inline-block" />
              </a>
              <a href="http://www.sendcloud.net/" rel="nofollow noopener noreferrer" class="item" target="_blank" style="line-height: 28px">
                <img src="__IMG__/sponsor3.png" title="订阅邮件赞助商：SendCloud" class="ui popover" style="height: 20px; margin-bottom: -4px; margin-right: 3px; display: inline-block" />
              </a>
            </div>
          </div>
          <div class="four wide column">
            <h4 class="ui inverted header">其他信息</h4>
            <div class="ui inverted link list">
              <li>
                <a class="item" href="https://learnku.com/contact?code=outsource"> <i class="icon thumbs up"></i> 软件外包 </a>
              </li>
              <li>
                <a class="item" href="https://learnku.com/docs/guide/administrator/4485"> <i class="icon heartbeat"></i> 成为版主 </a>
              </li>
              <li>
                <a class="item" href="https://learnku.com/quizzes"> <i class="icon wpforms"></i> 所有测验 </a>
              </li>
              <li>
                <a class="item" href="https://learnku.com/contact"> <i class="icon wechat" aria-hidden="true"></i> 联系站长（反馈建议） </a>
              </li>
            </div>
          </div>
        </div>

        <div class="ui inverted section divider"></div>
        <div style="color: rgb(137, 137, 140); font-size: 0.9em" class="rm-link-color">
          <p>
            <a href="http://beian.miit.gov.cn/" target="_blank">粤ICP备18099781号-6</a>
            <span class="mx-2">|</span>
            <a href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=44030502004330" target="_blank"><img src="__IMG__/copyright.png" width="20" style="position: relative; top: 4px" /> 粤公网安备 44030502004330号</a>
            <span class="mx-2">|</span>
            <a href="https://learnku.com/lk">违法和不良信息举报</a>
          </p>
          <p style="margin-top: -8px; margin-bottom: -0px" class="ui inverted signature">由 <a href="https://learnku.com/contact" target="_blank" style="color: inherit">Summer</a> 设计和编码 <span style="color: #e27575; font-size: 14px">❤</span></p>
        </div>
      </div>
    </div>

    <script type="text/javascript">
      let forumPage = document.querySelector('#forumPage');
      let setList = document.querySelector('.setList');
      forumPage.onmouseover = function () {
        setList.style.display = 'flex';
      };
      forumPage.onmouseout = function () {
        setList.style.display = 'none';
      };
    </script>
    <script type="text/javascript">
      //post下拉菜单
      let selections = document.querySelector('#selections');
      selections.addEventListener('click', () => {
        let a = document.querySelector('.ui.fluid.search.selection.dropdown');
        if (a.classList.contains('visible')) {
          a.classList.remove('active', 'visible');
        } else {
          a.classList.add('active', 'visible');
        }

        let b = document.querySelector('.menu.transition');
        if (b.classList.contains('visible')) {
          b.classList.remove('visible');
          b.classList.add('hidden');
        } else {
          b.classList.remove('hidden');
          b.classList.add('visible');
        }
      });
      document.querySelectorAll('.item').forEach((item) => {
        item.addEventListener('click', (event) => {
          // 给隐藏域赋值s_id 板块号
          let input = document.querySelector("[name='sid']");
          input.value = item.dataset.value;
          // 克隆节点 否则替换时旧节点会删除
          let clonedNode = item.cloneNode(true);
          let d = document.querySelector('.dropdown>.text');
          let child = document.querySelector('.dropdown>.text>span');
          if (d.querySelector('.item')) {
            child = d.querySelector('.item');
            d.replaceChild(clonedNode, child);
          } else {
            d.replaceChild(clonedNode, child);
          }
        });
      });
    </script>
  </body>
</html>
